<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Title-->
    <title>@ViewData["Title"] - edumedia.uz</title>
    
    <!-- Favicons -->
    <link href="~/imgs/logo.png" />
    <link href=~/imgs/apple-touch-icon.png />
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" />
    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/lib/aos/aos.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/glightbox/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" />

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- =======================================================
    * Template Name: TheEduMedia.Uz - v1.0.0
    * Template URL: http://edumedia.uz/
    * Author: Samiddin Ravshanov
    * License: http://edumedia.uz/license
    ======================================================== -->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a asp-asp-area="" asp-controller="Home" asp-action="Index">EDU ||<span>MEDIA</span></a></h1>
        </div>
        <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li class="dropdown"><a class="nav-link scrollto" href="#"><span>Kurslar</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <li><a href="#">Buxgalteriya</a></li>
                <li class="dropdown"><a href="#"><span>Dasturlash</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">C#</a></li>
                    <li><a href="#">JS</a></li>
                    <li><a href="#">Python</a></li>
                    </ul>
                </li>
                <li><a href="#">Kompyuter grafikasi</a></li>
                <li><a href="#">Arxitektura</a></li>
                <li class="dropdown"><a href="#"><span>Abituriyent</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                    <li><a href="#">Matematika</a></li>
                    <li><a href="#">Informatika</a></li>
                    <li><a href="#">Fizika</a></li>
                    <li><a href="#">Ona tili</a></li>
                    <li><a href="#">Rus tili</a></li>
                    </ul>
                </li>
                </ul>
            </li>
            <li><a class="nav-link scrollto" href="#hero">Test</a></li>
            <li><a class="nav-link scrollto" href="#about">Profil</a></li>
            <li><a asp-controller="Speakers" asp-action="Speakers" class="nav-link scrollto">O'qituvchilar</a></li>
            <li><a class="nav-link scrollto" href="#contact">Qo`llanma</a></li>
            <li><a asp-controller="Home" asp-action="Contact" class="nav-link scrollto">Aloqa</a></li>
            @*<li><a class="nav-link scrollto" href="#schedule">Reyting</a></li>
            <li><a class="nav-link scrollto" href="#venue">Venue</a></li>
            <li><a class="nav-link scrollto" href="#hotels">Hotels</a></li>
            <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
            <li><a class="nav-link scrollto" href="#supporters">Sponsors</a></li>*@
            
            
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
        <a class="buy-tickets scrollto" href="#buy-tickets">Kirish</a>

    </div>
    </header><!-- End Header -->
    
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">edumedia.uz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
 
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="" alt="EDU ||MEDIA">
                        <p>EDU ||MEDIA - barcha zamonaviy bilimlarni o'ziga xos metodika asosida o'rgatuvchi onlayn platforma.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Sayt xaritasi</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Kurslar</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Test</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Profil</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">O'qituvchilar</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Qo`llanma</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>MA'LUMOT</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Xavfsizlik siyosati</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Foydalanish shartlari</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Aloqa</h4>
                        <p>
                            Samarqand shahar <br>
                            Universitet xiyoboni, 15-uy<br>
                            O'zbekiston Respublikasi <br>
                            <strong>Tel:</strong> +998 93 038 11 10<br>
                            <strong>Email:</strong> info@edumedia.uz<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; <strong>Edumedia.uz</strong>. Sayt materiallaridan to'liq yoki qisman foydalanilganida ushbu manbani ko'rsatish majburiy.
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
                -->
                Sayt yaratuvchisi <a href="https://t.me/samiddinravshanov">Samiddin Ravshanov</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    
    
    
    
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - edumedia.uz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <!-- Vendor JS Files -->
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
