@{
    ViewData["Title"] = "Login";
}
<h1>Salom</h1>
<!-- Modal Order Form -->

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Buy Tickets</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                    </div>
                    <div class="form-group mt-3">
                        <select id="ticket-type" name="ticket-type" class="form-select">
                            <option value="">-- Select Your Ticket Type --</option>
                            <option value="standard-access">Standard Access</option>
                            <option value="pro-access">Pro Access</option>
                            <option value="premium-access">Premium Access</option>
                        </select>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn">Buy Now</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->